body {
  background-image: url(../images/background.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
#myCanvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 6px solid rgb(165, 99, 42);
  /* border-image: url(../images/leaf.png);
  border-image-slice: 100% 10;
  border-image-repeat: repeat; */
}
